# ===== 数据库配置 =====
MYSQL_URL=mysql+pymysql://root:123456@127.0.0.1:3306/cockpit_db?charset=utf8mb4
# ===== Redis配置（Day8后才用，先留着）=====
REDIS_URL=redis://localhost:6379/0
# ===== JWT认证配置（Day3用，先占位）=====
JWT_SECRET=647b591353c75bbfd66f52221bea0f173459ef82f333ea966ca79b7698dc38993c6fc54fd28118398f7a7d6bfa12a39f5829d2f14595559beee131c8b955a926
JWT_ALGORITHM=HS256
JWT_EXPIRE_DAYS=7
# ===== CORS允许的前端源 =====
CORS_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173"]
# ===== 上传文件目录 =====
UPLOAD_DIR=uploads
# ===== 调试模式（true=打印SQL日志）=====
DEBUG=true